/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: grey;
}

a:hover {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}
/* ends reset */

/* header */
header {
  padding-top: 20px;
}

.logo-left {
  display: flex;
  justify-content: space-around;
  line-height: 50px;
}

.logo-left>a {
  align-self: center;
}

.logo-left img {
  width: 100px;
}

.hide_dp {
  display: none;
}

.hide_dpo {
  display: none;
}

ul.list-inline>li {
  padding: 0 12px;
}

ul.list-inline>li>a>button {
  padding: 10px 15px;
  background: #eb288d;
  border: 0px;
  color: white;
  border-radius: 18px;
  cursor: pointer;
}

ul.list-inline>li>a>button:hover {
  background: #9e1c60;
}

ul.menu-dp>li.dropdown {
  position: relative;
}

ul.menu-dp {
  background: white;
  position: absolute;
  text-align: left;
  box-shadow: 10px 11px 31px -12px rgba(0,0,0,0.75);
  border-radius: 3px;
  padding: 10px 35px;
  left: 50%;
  top: 25px;
  transform: translateX(-50%);
}

ul.menu-dp>li {
  padding: 10px;
}
/* ends header */
